In [9]:
st = 'Print the words that start with s in this sentence'

In [11]:
for word in st.split():
    if word[0].lower() =='s':
        print(word)

start
s
sentence

In [10]:
st

'Print the words that start with s in this sentence'

In [12]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

SyntaxError: invalid syntax (<ipython-input-13-1cc6e56b3888>, line 1)

In [14]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [16]:
for word in st.split():
    if len(word) %2 == 0:
        print(word+ ' is even')

that is even
with is even
in is even
this is even
sentence is even

In [18]:
### Fizz Buzz 
for num in range(1,101):
    if num%3 == 0 and num%5 ==0:
        print('FzzBuzz')
    elif num%3 ==0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FzzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FzzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FzzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FzzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FzzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FzzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [23]:
def first_fun(name):
    '''
    This fuction will print the name which have been given to it
    print("Hello "+name+" How are you!")
    '''

In [21]:
first_fun("usman")

Hello usman How are you!

In [25]:
def say_hello():
    print("hello")

In [27]:
say_hello()

hello

In [28]:
def say_hello(name):
    print(f'Hello {name}')

In [29]:
say_hello("Sandhu")

Hello Sandhu

In [30]:
def add_num(num1,num2):
    return num1+num2

In [31]:
add_num(10,20)

30

In [32]:
result = add_num(10,20)

In [34]:
def print_result(a,b):
    print(a+b)

In [40]:
def return_result(a,b):
    return(a+b)

In [36]:
print_result(2,3)

5

In [41]:
print(return_result(2,3))

5

In [42]:
def myfunc(a,b):
    print(a+b)
    return(a+b)

In [43]:
result = myfunc(10,20)

30

In [45]:
def sum_numbers(num1,num2):
    return num1+num2

In [46]:
sum_numbers(10,20)

30

In [47]:
sum_numbers('10','20')

'1020'

In [48]:
#Functions with logic
2 % 2

0

In [49]:
3 % 2

1

In [50]:
41 % 40

1

In [51]:
20 % 2

0

In [52]:
20 % 2 == 0

True

In [53]:
21 % 2 == 0

False

In [54]:
def even_check(number):
    result = number % 2 == 0
    return result

In [55]:
even_check(21)

False

In [56]:
even_check(55)

False

In [57]:
def even_check1(number):
    return number % 2 == 0

In [58]:
even_check1(44)

True

In [59]:
# Returns True if Any numberr is even inside the list

In [62]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [63]:
check_even_list([1,2,3,4,5])

True

In [64]:
check_even_list([1,3,5])

In [65]:
# Tuples
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100),('TSLA',1000)]

In [66]:
stock_prices

[('APPL', 200), ('GOOG', 400), ('MSFT', 100), ('TSLA', 1000)]

In [68]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)
('TSLA', 1000)

In [69]:
for ticker,price in stock_prices:
    print(price)

200
400
100
1000

In [72]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
    # Return
    return (employee_of_month,current_max)

In [73]:
employee_check(work_hours)

NameError: name 'work_hours' is not defined

In [74]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800)]

In [75]:
work_hours

[('Abby', 100), ('Billy', 4000), ('Cassie', 800)]

In [76]:
result = employee_check(work_hours)

In [77]:
result

('Billy', 4000)

In [78]:
# Interaction b/w python functions
#Typically a python script or notebook contains several functions interacting with each other.
# Let's create a few new functions to mimic the carnical guessing game "Three Cup Monte"

In [79]:
example = [1,2,3,4,5,6,7]

In [80]:
from random import shuffle

In [81]:
shuffle(example)

In [82]:
example

[5, 6, 3, 4, 1, 7, 2]

In [85]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [88]:
result = shuffle_list(example)

In [89]:
result

[1, 7, 4, 2, 3, 6, 5]

In [90]:
mylist = ['','o','']

In [91]:
shuffle_list(mylist)

['', '', 'o']

In [92]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1 or 2")

In [93]:
player_guess()

Pick a number: 0,1 or 22

In [94]:
player_guess()

Pick a number: 0,1 or 20

In [95]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print("correct!")
    else:
        print("Wrong guess!")
        print(mylist)